:root {
	--light-color: #ffffff;
	--dark-text-color: #000000;
	--light-text-color: #c7c7c7;
	--fields-color: #f7f7f7;
	--primary-color: #95c89b;
	--sm: 1.4rem;
	--md: 1.6rem;
	--lg: 1.8rem;
	--primary-font: 'Quicksand', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Quicksand', sans-serif;
	overflow-x: hidden;
}

//width
::-webkit-scrollbar {
	width: 7px;
	height: 5px;
}
//Track
::-webkit-scrollbar-track {
	border-radius: 10px;
}
// Handle
::-webkit-scrollbar-thumb {
	background: var(--primary-color);
	border-radius: 10px;
}
