.order-item {
	width: 500px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 22px;
	align-items: center;
	justify-items: flex-end;
	background-color: var(--light-color);
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 20px;
	font-size: var(--sm);
	font-weight: bold;
}
.order-item img {
	cursor: pointer;
}
.order-item p {
	display: flex;
	flex-direction: column;
}

.order-item p span:last-child {
	color: var(--light-text-color);
	font-weight: 300;
}

@media (max-width: 600px) {
	.order-item {
		width: 300px;
		margin-top: 30px;
	}
}
