.shopping-cart {
	display: grid;
	width: 100%;
	grid-template-columns: auto 1fr auto auto;
	justify-items: flex-start;
	align-items: center;
}

.shopping-cart__img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: left;
	margin: 10px;
	border-radius: 22px;
}

.shopping-cart__title {
	font-size: var(--sm);
	color: var(--dark-text-color);
	font-weight: 300;
	margin-left: 15px;
}
.shopping-cart__price {
	font-size: var(--sm);
	font-weight: bold;
	color: var(--dark-text-color);
	margin-right: 20px;
}

.shopping-cart img:last-child {
	margin-right: 20px;
	cursor: pointer;
}
